.container{


}

/* .buttonn{
    border: none;
    border-radius: 50%;
} */
.image{
    border-radius: 50%;
    /* border: 3px solid rgb(235, 231, 231); */
    object-fit: cover;
    
}

.editor{
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}
.button,.addbutton{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--softTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover{
    box-shadow: rgba(255, 255, 255, 0.55) 0px 5px 15px;
}
    
.add{
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
    margin-top: 2px;
}
.textArea{
    width: 100%;
    margin-top: 30px;
    
}

.input{
    padding: 50px;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
    color: darkgray;
    
}


.publish{
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

